{% extends 'base.html' %}

{% block title %}
Карточки студента
{% endblock title %}

{% block content %}

{% if page_num %}
<div class="card my-2">
  <div class="card-body">
    <p class="card-text">Текущая страница: {{ page_num }}</p>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-8">

    {% for item in object_list %}
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">Firstname: {{ item.student.firstname }} Surname: {{ item.student.surname }} Name: {{ item.name }}</h5>
        <p class="card-text"></p>
        <div class="row">
          <div class="col">
            <a href="{% url 'mainapp:cardstudents_detail' pk=item.pk %}"
              class="card-link">Подробнее</a>
          </div>

          <div class="col-1 text-center">
            <a href="{% url 'mainapp:cardstudents_update' pk=item.pk %}">
              <i class="far fa-edit"></i>
            </a>
          </div>


          <div class="col-1 text-center">
            <a href="{% url 'mainapp:cardstudents_delete' pk=item.pk %}">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="col-lg-4">


    <a class="btn btn-primary btn-block" role="button"
      href="{% url 'mainapp:teachers_create' %}">Добавить карточку студента</a>


  </div>

</div>

<div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link"
          href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for item in page_obj.paginator.page_range %}
      <li class="page-item
        {% if item == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
      </li>
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link"
          href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock content %}